<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Desert</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>County_ID</th>
        <th>County_Name</th>
      </tr>
    </thead>
    <tbody>
      {% for record in counties %}
        <tr>
          <td>{{ record['County_ID'] }}</td>
          <td>{{ record['County_Name'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>